name: Build image

on:
  workflow_call:
    inputs:
      version:
        description: 'Tag to build'
        required: true
        type: string

permissions:
  packages: write

env:
  REGISTRY: ghcr.io

jobs:
  dockerize:
    name: Build container
    runs-on: ubuntu-latest
    if: ${{ inputs.version }}
    steps:
      - uses: actions/checkout@v4
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: build/install
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build AMD64 image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64
          file: docker/Dockerfile
          tags: |
            ${{ env.REGISTRY }}/pledger-io/amd64-core:${{ inputs.version }}
            ${{ env.REGISTRY }}/pledger-io/amd64-core:stable
          build-args: |
            BASE_IMAGE=eclipse-temurin:25-jre-noble
            BUILD_VERSION=${{ inputs.version }}
      - name: Build ARM64 image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/arm64
          file: docker/Dockerfile
          tags: |
            ${{ env.REGISTRY }}/pledger-io/arm64-core:${{ inputs.version }}
            ${{ env.REGISTRY }}/pledger-io/arm64-core:stable
          build-args: |
            BASE_IMAGE=eclipse-temurin:25-jre-noble
            BUILD_VERSION=${{ inputs.version }}
