name: Build artifact

on:
  workflow_call:
    inputs:
      version:
        description: 'Version to build'
        required: true
        type: string

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: ${{ inputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure Java version
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          architecture: x64
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5
      - name: Build artifact
        run: ./gradlew build installDist -Pversion=${{ inputs.version }}
        env:
          ORG_GRADLE_PROJECT_gpr_user: ${{ env.GITHUB_ACTOR }}
          ORG_GRADLE_PROJECT_gpr_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: |
            build/install
